extends layout

block vars
  - var section = 'Home'

block content
  .row
    .col-12.col-lg-12
      li.list-unstyled
        - var lineHeight = 2.2;
        - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
        -   return item.date.getFullYear()
        - }).value()
        - for (var archive in archives) {
        -  archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
        - }
        - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        - var yearsK = _.chain(archives).keys().reverse().value()
        - for(var year in yearsK)
          - months = archives[yearsK[year]]
          - var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
          span.year-label=yearsK[year]
          - var monthsK = _.chain(months).keys().reverse().value()
          - for(month in monthsK){
            - var monthHeight = lineHeight * months[monthsK[month]].length
            each item in months[monthsK[month]]
              .li
                |#{moment.utc(item.date+'').format('MMM DD') + ' - '}
                a(href=item.url)
                  = item.title
          - }
    //-header.header
      //-div.content-wrap
        //-block header
          //-div.logo
            //-h1
              //-a(href=locals.url)= locals.name
            //-p.description= locals.description
  //-include author
  //-each article in articles
    //-article.article.intro
      //-header
        //-p.date
          //-span= moment.utc(article.date).format('DD. MMMM YYYY')
        //-h2
          //-a(href=article.url)= article.title
      //-section.content
        //-| !{ typogr(article.intro).typogrify() }
        //-if article.hasMore
          //-p.more
            //-a(href=article.url) more


